@model dynamic

@{
    ViewBag.Title = "Cervezas";
}

<div class="hero-unit">
    <h1>Cervezas</h1>
    <p class="tagline">Website surveys as easy as drinking a beer.</p>
</div>

@Html.Action(MVC.Site.Index())