@using Cervezas.Helpers
@model List<Site>

@{
    ViewBag.Title = "Sites";
}

<h2>Sites</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Domain Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var site in Model)
        {
            <tr>
                <td>
                    @Html.Favicon(site)
                    @Html.ActionLink(site.Name, MVC.Sites.Show(site.Id), new { @class = "site-link"})
                </td>
            </tr>
        }
        
            <tr>
                <td>
                    <div class="text-center">
                        @if (!Model.Any())
                        {
                            @:There are no sites.
                        } 
                        @Html.ActionLink("add a site", MVC.Sites.Add(), new { @class = "btn btn-primary btn-small" })
                    </div>
                </td>
            </tr>
    </tbody>
</table>