@model List<Survey>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var survey in Model)
        {
            <tr>
                <td>@survey.Title</td>
            </tr>
        }
        <tr>
            <td>
                <div class="text-center">
                    @if (!Model.Any())
                    {
                        @:There are no surveys.
                    }
                    @Html.ActionLink("add a survey", MVC.Surveys.Add(), new { @class="btn btn-primary btn-small"})
                </div>
            </td>
        </tr>
    </tbody>
</table>