<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Links.Content.less.site_less"/>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand">Cervezas</a>
                    <ul class="nav">
                        <li>@Html.ActionLink("Sites", MVC.Site.Index())</li>
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>